/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "compass/reset";

.test {
    @include border-radius(5px);
    border: 1px solid #e6e6e6;
    display: block;
    background: #f6f6f6;
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font: 36px 'Arial';
        color: red;
    }

}